<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources> 
    <add key="VerumTech" value="https://pacotes.verum.tech/repository/nuget-hosted/" />
  </packageSources>
  <packageSourceCredentials>
    <VerumTech>
      <add key="Username" value="usuario" />
      <add key="ClearTextPassword" value="dbZY03k9Jndf55wa21HsiU9sevHuHz" />
    </VerumTech>
  </packageSourceCredentials>
  <config>
    <add key="http_proxy" value="http://proxy.pucminas.br:80" />
  </config> 
</configuration>